@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background: linear-gradient(135deg, #f4f4f4 25%, #e2e2e2 100%);
    color: #333;
    padding: 10px;
}

header {
    background-color:#354a5f;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

h3 {
    margin-top: 10px;
    color: #555;
    font-size: 1em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

p {
    margin-bottom: 5px;
    font-size: 0.9em;
}

@media (min-width: 768px) {
    body {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media print {
    header {
      background-color: #000; 
      color: #fff;
    }
}